USE [master]
GO
/****** Object:  Database [ElogicDB]    Script Date: 5/24/2026 7:54:31 PM ******/
CREATE DATABASE [ElogicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElogicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ElogicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElogicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ElogicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElogicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElogicDB]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkspaceId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWorkspaceRoles]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWorkspaceRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[WorkspaceId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[WorkspaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workspaces]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workspaces](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_WorkspaceId]    Script Date: 5/24/2026 7:54:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_WorkspaceId] ON [dbo].[Projects]
(
	[WorkspaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 5/24/2026 7:54:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWorkspaceRoles_WorkspaceId]    Script Date: 5/24/2026 7:54:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserWorkspaceRoles_WorkspaceId] ON [dbo].[UserWorkspaceRoles]
(
	[WorkspaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('A') FOR [Status]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserWorkspaceRoles] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Workspaces] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Workspaces] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Workspaces] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Workspaces] FOREIGN KEY([WorkspaceId])
REFERENCES [dbo].[Workspaces] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Workspaces]
GO
ALTER TABLE [dbo].[UserWorkspaceRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserWorkspaceRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserWorkspaceRoles] CHECK CONSTRAINT [FK_UserWorkspaceRoles_Roles]
GO
ALTER TABLE [dbo].[UserWorkspaceRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserWorkspaceRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserWorkspaceRoles] CHECK CONSTRAINT [FK_UserWorkspaceRoles_Users]
GO
ALTER TABLE [dbo].[UserWorkspaceRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserWorkspaceRoles_Workspaces] FOREIGN KEY([WorkspaceId])
REFERENCES [dbo].[Workspaces] ([Id])
GO
ALTER TABLE [dbo].[UserWorkspaceRoles] CHECK CONSTRAINT [FK_UserWorkspaceRoles_Workspaces]
GO
/****** Object:  StoredProcedure [dbo].[Auth_GetUserWorkspaces]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    SP para obtener los workspaces a los que un usuario tiene acceso, junto con su rol en cada workspace
==========================================================
*/
CREATE PROCEDURE [dbo].[Auth_GetUserWorkspaces]
	 @UserId UNIQUEIDENTIFIER

AS
BEGIN 

	SET NOCOUNT ON;

     SELECT
        w.Id AS WorkspaceId,
        w.Name AS WorkspaceName,
        r.Name AS Role
    FROM UserWorkspaceRoles uwr
        INNER JOIN Workspaces w
            ON w.Id = uwr.WorkspaceId
        INNER JOIN Roles r
            ON r.Id = uwr.RoleId
    WHERE uwr.UserId = @UserId
      AND w.IsActive = 1
    ORDER BY w.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[Auth_GetWorkspaceAccess]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    Sp para obtener el rol de un usuario en un workspace específico
==========================================================
*/
CREATE PROCEDURE [dbo].[Auth_GetWorkspaceAccess]
	 @UserId UNIQUEIDENTIFIER,
     @WorkspaceId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	SELECT TOP 1
        uwr.UserId,
        uwr.WorkspaceId,
        r.Name AS Role
    FROM UserWorkspaceRoles uwr
        INNER JOIN Roles r
            ON r.Id = uwr.RoleId
    WHERE uwr.UserId = @UserId
      AND uwr.WorkspaceId = @WorkspaceId;
END
GO
/****** Object:  StoredProcedure [dbo].[Auth_Login]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    Sp para autenticar a un usuario por email
==========================================================
*/
CREATE PROCEDURE [dbo].[Auth_Login]
	 @Email NVARCHAR (150)
AS
BEGIN

	SET NOCOUNT ON;

     SELECT
        Id,
        Email,
        Password,
        FullName,
        IsActive,
        CreatedAt
    FROM Users
    WHERE Email = @Email
      AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Projects_Create]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    SP utilizado para crear proyectos
==========================================================
*/
CREATE   PROCEDURE [dbo].[Projects_Create](

    @WorkspaceId UNIQUEIDENTIFIER,
    @Name NVARCHAR(150),
    @Description NVARCHAR(1000),
    @CreatedBy UNIQUEIDENTIFIER
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

     DECLARE @ProjectId UNIQUEIDENTIFIER = NEWID();

     INSERT INTO Projects
    (
        Id,
        WorkspaceId,
        Name,
        Description,
        Status,
        CreatedBy,
        CreatedAt
    )
    VALUES
    (
        @ProjectId,
        @WorkspaceId,
        @Name,
        @Description,
        'A',
        @CreatedBy,
        GETDATE()
    );

	 SELECT
        Id,
        WorkspaceId,
        Name,
        Description,
        Status,
        CreatedBy,
        CreatedAt
    FROM Projects
    WHERE Id = @ProjectId;
END
GO
/****** Object:  StoredProcedure [dbo].[Projects_GetById]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    Obtiene un proyecto por Id
==========================================================
*/
CREATE   PROCEDURE [dbo].[Projects_GetById]
	@ProjectId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY 
    SELECT 
        p.Id,
        p.WorkspaceId,
        p.Name,
        p.Description,
        p.Status,
        p.CreatedBy,
        u.FullName AS CreatedByName,
        p.CreatedAt,
        p.UpdatedAt
    FROM Projects p
        INNER JOIN Users u
            ON u.Id = p.CreatedBy
    WHERE p.Id = @ProjectId;

    END TRY

    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH

	 
END
GO
/****** Object:  StoredProcedure [dbo].[Projects_GetByWorkspace]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    Sp para obtener todos los proyectos de un workspace específico
==========================================================
*/
CREATE PROCEDURE  [dbo].[Projects_GetByWorkspace]
	@WorkspaceId UNIQUEIDENTIFIER
AS
BEGIN

	SET NOCOUNT ON;

	 SELECT
        p.Id,
        p.WorkspaceId,
        p.Name,
        p.Description,
        p.Status,
        p.CreatedBy,
        u.FullName AS CreatedByName,
        p.CreatedAt,
        p.UpdatedAt
    FROM Projects p
        INNER JOIN Users u
            ON u.Id = p.CreatedBy
    WHERE p.WorkspaceId = @WorkspaceId
    ORDER BY p.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[Projects_Update]    Script Date: 5/24/2026 7:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================
Author:         Jesus Meza
Create date:    2026-05-20
Description:    Obtiene un proyecto por Id
==========================================================
*/
CREATE   PROCEDURE [dbo].[Projects_Update]
(
    @ProjectId UNIQUEIDENTIFIER,
    @Name NVARCHAR(150),
    @Description NVARCHAR(1000),
    @Status NVARCHAR(50)
)
AS
BEGIN

    SET NOCOUNT ON;

    UPDATE Projects
    SET
        Name = @Name,
        Description = @Description,
        Status = @Status,
        UpdatedAt = GETDATE()
    WHERE Id = @ProjectId;

    SELECT
        Id,
        WorkspaceId,
        Name,
        Description,
        Status,
        CreatedBy,
        CreatedAt,
        UpdatedAt
    FROM Projects
    WHERE Id = @ProjectId;

END
GO
USE [master]
GO
